<div class="col-sm-6 col-md-4">
  <div class="card mb-3 user-card" data-user="{{id}}">
    <img src="{{profile_picture_src}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{first_name}} {{last_name}}</h5>
      <p class="card-text">{{description}}</p>
      <p>{{id}}</p>
      <button data-attribute-id="{{id}}" class="btn btn-primary send-flowers send-flowers-btn" value="{{id}}">Send Flowers</button>
    </div>
  </div>
</div>