<img src="{{profile_picture_src}}" alt="{{first_name}} {{last_name}} profile picture">
<li>id: {{id}}</li>
<li>email: {{email}}</li>
<li>first_name: {{first_name}}</li>
<li>last_name: {{last_name}}</li>
<li>description: {{description}}</li>
<li>profile_picture_src: {{profile_picture_src}}</li>
<li>age: {{age}}</li>
<li>gender: {{gender}}</li>
<li>interested_in_m: {{interested_in_m}}</li>
<li>interested_in_f: {{interested_in_f}}</li>
<li>interested_in_o: {{interested_in_o}}</li>
<li>interested_in_min_age: {{interested_in_min_age}}</li>
<li>interested_in_max_age: {{interested_in_max_age}}</li>
<li>latitude: {{latitude}}</li>
<li>longitude: {{longitude}}</li>
<li>createdAt: {{createdAt}}</li>
<li>updatedAt: {{updatedAt}}</li>
<li>users_interests:</li>  
<ul>
  {{#each users_interests}}
  <li>{{interest_name}}</li>
  {{/each}}
</ul>
<li>users_turnoffs:</li>  
<ul>
  {{#each users_turnoffs}}
  <li>{{turnoff_name}}</li>
  {{/each}}
</ul>